.art-display {
  grid-area: art-display;
  padding: 1rem;
  border: 1px solid #ccc;
  border-top: none;
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 70%;
}

svg {
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.image-view {
  width: auto;
  align-self: center;
}

.text {
  white-space: pre-wrap;
}
