svg {
  max-width: 500px;
  width: 100%;
}

.art-display {
  background: #f2fcfc;
  grid-area: art-display;
  padding: 1em;
  border: 1px solid black;
  border-top: none;
}

.text {
  white-space: pre-wrap;
}
