.media-picker {
  background: lightskyblue;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  grid-area: media-picker;
  padding: 0.5em;
  min-width: 150px;
  -webkit-box-shadow: 1px 1px #000;
  -moz-box-shadow: 1px 1px #000;
  box-shadow: 1px 1px #000;
}

.flex {
  display: flex;
}

.flex-one {
  flex: 1;
  padding: 1em;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

label,
input {
  cursor: pointer;
}

@media (min-width: 800px) {
  .flex {
    display: block;
  }
}
