.gallery {
  display: grid;
  grid-template-areas:
    'art-picker'
    'art-display'
    'media-picker';
  -webkit-box-shadow: 0 1px #000;
  -moz-box-shadow: 0 1px #000;
  box-shadow: 0 1px #000;
}

@media (min-width: 800px) {
  .gallery {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .media-picker {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
  }

  .art-picker {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .art-display {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
  }
}
