.art-picker {
  display: flex;
  grid-area: art-picker;
  max-height: 3em;
}

.tabs:last-child {
  border-right: 1px solid black;
}

.tabs:nth-child(n + 2) {
  border-left: none;
}

.tabs {
  background-color: white;
  cursor: pointer;
  flex: 1;
  font-size: 1.3em;
  padding: 0.5em;
  text-align: center;
  border: 1px solid black;
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  border-radius: 0.1em;
}

.tabs:hover {
  text-decoration: underline;
}

.selected {
  background-color: #edffff;
  border-bottom: none;
  text-decoration: underline;
}
